{% extends "base.html" %}

{% block title %}Heart Disease{% endblock %}

{% block content %}

<style>


div.ex3 {
	background-image:url("{{ url_for('static', filename='10766561.jpg') }}");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
div.ex6 {
	background-image:url("{{ url_for('static', filename='background_6.jpg') }}");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
div.ex2 {
  
  padding: 15px;
  
}
.right {
  width: 50%;
}

#responsive-image {  width: 100%;  height: auto; }
</style>

<img src="/static/heart_pr.png" id="responsive-image">



<div class="ex2 ex6 " style="color: white">



  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
<!--
<h1 style="font-size:40px;width:50%";> Everything You Need to Know About Heart Disease</h1>
<br>
<h2 style="font-size:25px;width:50%"> Q1) What is heart disease?</h2>

<p style="font-size:16px;width:50%;text-align: justify">
	The heart is like any other muscle in body. It needs an adequate blood supply to provide oxygen 
	so that the muscle can contract and pump blood to the rest of the body. Not only does the heart pump 
	blood to the rest of the body, it also pumps blood to itself via the coronary arteries. 
	These arteries originate from the base of the aorta (the major blood vessel that carries oxygenated blood
	from the heart) and then branch out along the surface of the heart.
	<br>
	When one or more coronary arteries narrow, it may make it difficult for adequate blood to reach the heart, 
	especially during exercise. This can cause the heart muscle to ache like any other muscle in the body. 
	Should the arteries continue to narrow, it may take less activity to stress the heart and provoke symptoms. 
	The classic symptoms of chest pain or pressure and shortness of breath that often spreads to the shoulders,
	arms, and/or neck due to atherosclerotic heart disease (ASHD) or coronary artery disease (CAD) are called angina.
</p>
<br>
<h2 style="font-size:25px;width:50%"> Q2) What are the signs and symptoms of heart (cardiovascular) disease?</h2>

<p style="font-size:16px;width:50%">
	<ul><li style="font-size:16px;width:50%;text-align: justify">The most common symptom is angina, or chest pain. Angina can be described as a discomfort, 
	heaviness, pressure, aching, burning, fullness, squeezing, or painful feeling in your chest.</li>
	<li style="font-size:16px;width:50%">Shortness of breath</li>
	<li style="font-size:16px;width:50%">Rapid or irregular heartbeats</li>
	<li style="font-size:16px;width:50%;text-align: justify">Some people may have indigestion and nausea while others may have upper abdominal,
	shoulder, or back pain.</li>
</ul>
</p>
<br>




<h2 style="font-size:25px;width:50%"> Q3) Who is at risk for heart (cardiovascular) disease?</h2>

<p style="font-size:16px;width:50%">
Factors that put people at increased risk for heart disease are:
<ul><li style="font-size:16px;width:50%">Smoking</li>
	<li style="font-size:16px;width:50%">High Blood Pressure (hypertension)</li>
	<li style="font-size:16px;width:50%">Diabetes</li>
	<li style="font-size:16px;width:50%">High Cholesterol</li>
	<li style="font-size:16px;width:50%">Family history of heart problems, especially heart attacks and strokes</li></uL>
</p>
<br>
<h2 style="font-size:25px;width:50%"> Q4) What is the treatment for heart (cardiovascular) disease?</h2>

<p style="font-size:16px;width:50%;text-align: justify">
	The goal of treating cardiovascular disease is to maximize the patient's quantity and quality of life.
	Prevention is the key to avoid cardiovascular disease and optimize treatment. Once plaque formation has begun, 
	it is possible to limit its progression by maintaining a healthy lifestyle with routine exercise, diet, and 
	by aiming for lifetime control of high blood pressure, high cholesterol, and diabetes.
</p>
<br>
<h2 style="font-size:25px;width:50%"> Q5) What lifestyle changes can a person make to prevent further heart disease or heart attack?</h2>

<p style="font-size:16px;width:50%">it is possible to prevent by making these lifestyle changes:
	<ul><li style="font-size:16px;width:50%">Maintain a healthy lifestyle with routine exercise</li>
	<li style="font-size:16px;width:50%">Quit smoking</li>
	<li style="font-size:16px;width:50%">Eat a heart healthy diet such as the Mediterranean Diet.</li>
	<li style="font-size:16px;width:50%">Aim for lifetime control of high blood pressure, high cholesterol, and diabetes.</li>
</uL>
</p>
<br>


<a href="/heartdata"> <b>Dataset used</b></a>
<a href="/backheartdata"> <b>backend used</b></a>
<br>
-->
<h2 style="font-size:30px";> Parameters required to predict</h2>
<span style="font-size:13px";><mark>click button to know details</mark></span><br><br><br>
<p>
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
		<span style="font-size:22px";>Sex</span>  </a>
		<div class="collapse" id="collapseExample3">
			<div class="card card-body">
				Male or Female
		  	</div>
		</div>
</p>

<p>
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
		<span style="font-size:22px";>Height </span> </a>
		<div class="collapse" id="collapseExample">
			<div class="card card-body">
				Height (in cms)
				<table border="1">
<tr><td>ft in</td><td>inches </td><td>centimeters</td></tr>
<tr><td>5’0”</td><td> 60in</td><td> 152.40cm</td></tr>
<tr><td>5’1” </td><td>61in </td><td>154.94cm</td></tr>
<tr><td>5’2” </td><td>62in</td><td> 157.48cm</td></tr>
<tr><td>5’3” </td><td>63in </td><td>160.02cm</td></tr>
<tr><td>5’4” </td><td>64in </td><td>162.56cm</td></tr>
<tr><td>5’5” </td><td>65in</td><td> 165.10cm</td></tr>
<tr><td>5’6” </td><td>66in </td><td>167.74cm</td></tr>
<tr><td>5’7” </td><td>67in </td><td>170.18cm</td></tr>
<tr><td>5’8”</td><td> 68in </td><td>172.72cm</td></tr>
<tr><td>5’9” </td><td>69in</td><td> 175.26cm</td></tr>
<tr><td>5’10” </td><td>70in </td><td>177.80cm</td></tr>
<tr><td>5’11” </td><td>71in</td><td> 180.34cm</td></tr>
<tr><td>6’0” </td><td>72in </td><td>182.88cm</td></tr>
<tr><td>6’1” </td><td>73in</td><td> 185.45cm</td></tr>
<tr><td>6’2” </td><td>74in</td><td> 187.96cm</td></tr>
<tr><td>6’3”</td><td> 75in</td><td> 190.50cm</td></tr>
<tr><td>6’4” </td><td>76in</td><td> 193.04cm</td></tr>
<tr><td>6’5” </td><td>77in </td><td>195.58cm</td></tr>
<tr><td>6’6” </td><td>78in </td><td>198.12cm</td></tr>
<tr><td>6’7” </td><td>79in</td><td> 200.66cm</td></tr>

</table>
		  	</div>
		</div>
</p>

<p>
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
		<span style="font-size:22px";>Weight </span> </a>
		<div class="collapse" id="collapseExample4">
			<div class="card card-body">
				Weight (in kgs)
				
		  	</div>
		</div>
</p>
<p>
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
		<span style="font-size:22px";>BP (high)  </span></a>
		<div class="collapse" id="collapseExample1">
			<div class="card card-body">
				Systolic blood pressure (in mm Hg on admission to the hospital)<br>
				<b>Blood Pressure Levels</b>
				Normal	systolic: less than 120 mm Hg <br>
				At Risk (prehypertension)	systolic: 120–139 mm Hg <br>
				High Blood Pressure (hypertension)	systolic: 140 mm Hg or higher 
			</div>
		</div>
</p>
<p>
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
		<span style="font-size:22px";>BP (low)  </span></a>
		<div class="collapse" id="collapseExample2">
			<div class="card card-body">
				Diastolic blood pressure (in mm Hg on admission to the hospital)<br>
				<b>Blood Pressure Levels</b>
				Normal diastolic: less than 80 mm Hg<br>
				At Risk (prehypertension)	diastolic: 80–89 mm Hg<br>
				High Blood Pressure (hypertension) diastolic: 90 mm Hg or higher
			</div>
		</div>
</p>








</div>





 
		<div class="ex6" style="color:black">
	<div class="block">
          <section class="hero is-dark is-bold">
              <div class="hero-body">
                  <div class="container has-text-centered">
                      <h1 class="title"><mark>Result Prediction</mark></h1>
                      <h2 class="subtitle"><mark>Predict the probability of Cardio-Vascular Disease </mark></h2>
                  </div><br>
                
              </div></section>
			  </div>
			  
			  
		  
       
		
	<div class="container bg-dark text-white">	
    <form action='/hprob/predict' method="post">
      <table class="table table-dark ">
	  
		<tr class="table-primary"><td> <b><mark>Age</mark> </b></td>
			<td>  <input  name="age"  placeholder="Age (in years) " ></td>
        </tr>
		
        <tr class="table-success"><td> <b><mark> Sex</mark></b></td>
            <td>
		 <input  name="gender" type=radio   value=1> <mark>Male </mark><input  name="gender" type=radio   value=2> <mark>Female</mark></td>
		</tr>
		
		<tr class="table-active"><td> <b><mark>Height</mark> </b></td>
			<td>  <input type=number name="height"  placeholder="Height (in cms) " ></td>
        </tr>
		<tr class="table-active"><td> <b><mark>Weight</mark> </b></td>
			<td>  <input type=number name="weight"  placeholder="Weight (in Kgs) " ></td>
        </tr>
		<tr class="table-active"><td> <b><mark>BP (high)</mark> </b></td>
			<td>  <input  type=number name="ap_hi"  placeholder="BP (High) " ></td>
        </tr>
		<tr class="table-active"><td> <b><mark>BP (low)</mark> </b></td>
			<td>  <input  type=number name="ap_lo"  placeholder="BP (Low) " ></td>
        </tr>
		<tr class="table-primary"><td> <b><mark>Smoking)</mark> </b></td>
			<td>  <input  name="smoker" type=radio   value=1> <mark>Yes </mark><input  name="smoker" type=radio   value=0> <mark>No</mark></td>
        </tr>
		<tr class="table-primary"><td> <b><mark>Alcoholic</mark> </b></td>
			<td>   <input  name="alcohol" type=radio   value=1> <mark>Yes</mark> <input  name="alcohol" type=radio   value=0><mark> No</mark>	</td>
        </tr>
		<tr class="table-primary"><td> <b><mark>Exercise Daily</mark> </b></td>
			<td>   <input  name="active" type=radio   value=1><mark> Yes</mark> <input  name="active" type=radio   value=0> <mark>No</mark></td>
        </tr>
				
		<tr class="table-danger"><td> <b><mark>Heart Rate </mark></b></td>
			<td>  
			<select name = "heartrate">
					<option value =1> 50-75 
					<option value =2>   75-100
					<option value =3>   100-125
					<option value =4>   125-150
					<option value =5>  150-200</td>	
		 </tr >
		 
        
        <tr>
		<td colspan=2 align=center><br><button class="btn btn-primary active" type="submit">Predict </button></td>
		</tr>
	  </table>
    </form>
       </div>
     <br><h2 style="color:black"> <mark>{{pred}} </mark></h2><br> 
	 </div>	

</div>
{% endblock %}
